version: '3.8'

services:
  api:
    build: .
    ports: 
    - "8000:8000"
    environment:
      - DATABASE_URL=postgresql://user:password@db/ticketmaster
      - REDIS_URL= redis://redis:6379
    depends_on:
      - db
      - redis
    volumes:
      - ./app:/code/app

  db:
    image: postgres:15-alpine
    restart: always
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=password123
      - POSTGRES_DB=ticketmaster
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    
  redis:
    image: redis:alpine
    ports:
      - "6379:6379"

volumes:
  postgres_data: